<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="">

    <title>Rango</title>
	<link rel="stylesheet" href="style.css">
  </head>
  <body>
	<div style="width:500px;margin:auto;">
      <h1 align="center">	 YouPy </h1>
	  <h2 align="center">	 Youtube Sentiment Analysis </h2>
	  <br/><br/><br/>
	  <p align="justify">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum. </p>
	  <br/>
	  
	  <form align="center" name="input" action="" method="get">
	    <input type="text" size="40"></input>
	    <input type="submit" value="Submit"> 
	  </form>
	</div>
  </body>
</html>